.mapping {
    display: flex;
    flex-wrap: wrap;
}

.cardMain  {
    width: 460px;
    height: 520px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }

.logoSize {
    width: 80px;
    height: 86px;
    padding: 0 0 1px;
    object-fit: contain;
    margin: 13px 12px;
}

.Path-4 {
    width: 420px;
    height: 3px;
    margin: 0 4px 3px 0;
    border: solid 1px var(--grayWhite);
    align-self: center;
}

.headCard {
    display: flex;
}

.textHead {
    display: flex;
    flex-direction: column;
}

.headText {
    font-size: 24px;
    color: var(--redPink);
    margin: 16px 0 0 0;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
}

.underHeadText {
    font-size: 20px;
    color:var(--gray);
}

.university {
    font-size: 20px;
    margin: 10px 0 0 0;
    color: var(--gray);
}


/* body */
.bodyCard {
    display: flex;
    flex-direction: column;
}

.round {
    display: flex;
    color: var(--grayDark);
    align-items: center;
    
}
.Oval {
    width: 29px;
    height: 29px;
    color: white;
    border-radius: 100%;
    background-color: var(--green);
    text-align: center;
    font-size: 19px;
    margin: 0 5px;
    cursor: pointer;
}

.Oval2 {
    width: 29px;
    height: 29px;
    color: white;
    border-radius: 100%;
    background-color: var(--grayWhite);
    text-align: center;
    font-size: 19px;
    margin: 0 5px;
    cursor: pointer;
  }

.admission{
    display: flex;
    justify-content: space-between;
    color: var(--redPink);
}
    

.editScore {
  padding: 7px;
  border-radius: 17.5px;
  border: solid 2px var(--redPink);
  font-size: 12px;
  margin: 0 24px 0 0;
  cursor: pointer;
}


.percentScore {
    width: 399px;
  height: 16px;
  margin: 17px 0 21px 18.5px;
  font-family: Prompt;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--greenBlue);
  cursor: pointer;
}



/* yourScore */
.yourScore {
    display: flex;
    justify-content: space-between;
}


/* minmax */
.minMaxScore {
    display: flex;
    color: var(--grayWhite);
    font-size: 30px;
    align-items: center;
    justify-content: center;
    
}

.textMinMax  {
    margin: 0 46px 2px 0;
    font-size: 11.2px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--grayDark);
    display: flex;
    flex-direction: column;
    margin: 10px 25px;
  }
  .textMinMax  .style-1 {
    font-size: 19.6px;
  }

  /* userInterest */
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 24px 0 0 ;
}

.userInterest {
    display: flex;
    align-items: center;
    color: var(--gray);
    margin: 0 20px;
  }