@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Prompt', sans-serif;
}

.App-header {
    display: flex;
}

:root {
    --gray: #9b9b9b;
    --grayWhite: #d8d8d8;
    --grayDark:#5f5f5f;
    --redPink: #ff5a5a;
    --green:#2ecc71;
    --greenBlue: #48b6a3;
}